<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Vue2 & WebSocket</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/crypto-js/4.1.1/crypto-js.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>

<div id="app" class="app">

    <el-dialog title="连接" :visible.sync="loginVisible">
        <el-form :model="loginInfo">
            <el-form-item label="uid" :label-width="formLabelWidth">
                <el-input v-model="loginInfo.uid" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="pid" :label-width="formLabelWidth">
                <el-input v-model="loginInfo.pid" autocomplete="off"></el-input>
            </el-form-item>

            <el-form-item label="连接地址" :label-width="formLabelWidth">
                <el-select v-model="loginInfo.url" placeholder="选择连接地址" style="width: 300px">
                    <el-option v-for="(item,key) in wsUrls" :label="key" :value="item"></el-option>
                </el-select>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="loginVisible = false">取 消</el-button>
            <el-button type="primary" @click="connect">确 定</el-button>
        </div>
    </el-dialog>

    <div v-if="socket !== null" class="container">

        <div class="unit">
            <div>
                <h3>登录信息</h3>
                <el-tag>uid:{{loginInfo.uid}}</el-tag>
                <el-tag>pid:{{loginInfo.pid}}</el-tag>
                <el-tag>url:{{loginInfo.url}}</el-tag>
                <el-tag>连接中</el-tag>
            </div>

        </div>
        <div class="unit">
            <div>
                <h3>行情订阅</h3>
                <el-form ref="" :model="market" label-width="80px">

                    <el-form-item label="交易对">

                        <el-input v-model="market.symbols" placeholder="请输入交易对，多个用逗号分隔"></el-input>
                    </el-form-item>

                    <el-form-item lable="提交">

                        <el-button type="primary"
                                   @click="subMarket">订阅
                        </el-button>
                    </el-form-item>
                </el-form>

            </div>
        </div>
        <div class="unit">
            <div>
                <h3>k线订阅</h3>
                <el-form ref="" :model="kline" label-width="80px">

                    <el-form-item label="交易对">
                        <el-input v-model="kline.symbol" placeholder="请输入交易对"></el-input>
                    </el-form-item>

                    <el-form-item label="周期">
                        <el-select v-model="kline.period" placeholder="周期">
                            <el-option v-for="(item,key) in klinePeriods" :label="key" :value="item"></el-option>
                        </el-select>
                    </el-form-item>

                    <el-form-item>

                        <el-button type="primary"
                                   @click="subKline">订阅
                        </el-button>
                    </el-form-item>
                </el-form>

            </div>
        </div>
    </div>

    <div class="document">
        <h2>ws对接文档</h2>

        <h3>关于权限</h3>
        <p>
            token生成直接使用对称加密,参考generateToken方法，前端生成token，后端解密token，获取uid和pid，<b>这里的uid对应wikitrade系统的accountID</b>，pid为固定66，需要注意generateToken方法中的base64方法为url安全
        </p>

        <h3>关于request和subscribe</h3>
        <h4>subscribe</h4>
        <p>
            1. 之前的status,fund_orders不再需要订阅，ws连接成功后直接默认订阅<br>
            2.
            行情订阅参考subMarket方法，k线订阅参考subKline方法,<b>k线订阅需要注意，只有获取到历史k线数据后，才会推送实时k线数据，获取历史k线数据正常由前端触发，为了方便调式，后端在k线订阅后主动获取了一次k线数据，正式环境中不会主动获取</b>
        </p>
        <h4>request</h4>
        <p>
            因为websocket完全独立，为了避免无为的转发，所以不再提供request方式的请求，获取行情分组，获取k线历史数据，重新连接等request
            全部通过http接口的方式获取数据,分别为market_groups，kline_history,reconnect
        </p>

        <h3>关于消息格式</h3>
        <p>
            因为websocket完全独立，并且可以对应多个项目,所以消息格式有两层，第一层是ws层，第二层是业务层，ws层的消息格式如下
        <pre><code>
{
    type: "request", // 目前的可选值有heartbeat和request
    ，request代表将该请求发送到业务服务端，如果为request默认
    可以省略,后续会增加上报信息report 等

    affair_id: this.randomVal(), // 业务服务端原样返回
    ack_id: this.randomVal(), // ws集群原样返回
    payload: {  // payload中的内容为前端和业务服务端约定的消息格式和内容
        operation: "subscribe",
        type: "kline",
        body: {
            content: {
                symbol: this.kline.symbol,
                period: this.kline.period
            }
        }
    },
}
    </code></pre>

        </p>
    </div>

</div>

<style>
    /*
    .app 居中，左右布局
     两个div之间的间距为10%
     */
    .app {
        display: flex;
        justify-content: space-between;
        padding: 2% 10%;

    }


    .container+ .document {
        width: 40%;
    }

    .container {
        display: flex;
        flex-direction: column;

    }

    .unit {
        flex: 0 1 150px;
    }

    .document {
        padding:20px;
        height: 600px; /* 设置一个固定高度或者使用max-height */
        overflow-y: auto; /* 当内容超过高度时显示滚动条 */
        border: 1px solid #ccc; /* 可选，为了更清楚地看到div的边界 */
    }

</style>

<script>
    new Vue({
        el: '#app',
        data: {
            loginVisible: true,
            connectDuration: "",
            loginInfo: {
                uid: '1',
                pid: '66',
                url: "",
            },
            wsUrls: {
                "ws://localhost:8084/connect": "ws://localhost:8084/connect",
                "ws://192.168.200.140:8084/connect": "ws://192.168.200.140:8084/connect",
            },
            market: {
                symbols: ""
            },
            // 	// 1 minute.
            // PeriodM1 Period = 1
            // // 5 minutes.
            // PeriodM5 Period = 5
            // // 15 minutes.
            // PeriodM15 Period = 15
            // // 30 minutes.
            // PeriodM30 Period = 30
            // // 1 hour.
            // PeriodH1 Period = 60
            // // 4 hour.
            // PeriodH4 Period = 240
            // // Daily.
            // PeriodD1 Period = 1440
            // // Weekly.
            // PeriodW1 Period = 10080
            // // Monthly.
            // PeriodMN1 Period = 43200
            klinePeriods: {
                "1分钟": "1",
                "5分钟": "5",
                "15分钟": "15",
                "30分钟": "30",
                "1小时": "60",
                "4小时": "240",
                "日线": "1440",
                "周线": "10080",
                "月线": "43200",
            },
            kline: {
                symbol: "",
                period: "1",
            },
            formLabelWidth: '120px',
            socket: null,
        },
        created: function () {
            // 从cookie中取出 loginInfo
            document.cookie.split(";").forEach((item) => {
                if (item.indexOf("loginInfo") !== -1) {
                    console.log("loginInfo from cookie", item);
                    this.loginInfo = JSON.parse(item.split("=")[1]);
                }
            });

        },
        watch: {
            loginInfo: function (val) {
                console.log("loginInfo save to cookie", val);
                document.cookie = "loginInfo=" + JSON.stringify(val);
            }
        },
        methods: {
            connect: function () {
                if (this.socket !== null) {
                    this.$message.error('已经连接');
                    return;
                }
                if (this.loginInfo.uid === '' || this.loginInfo.pid === '') {
                    this.$message.error('请输入uid和pid');
                    return;
                }
                let token = this.generateToken()
                let url = this.loginInfo.url;
                url = url + "/?token=" + token;
                console.log("connect to", url);
                this.socket = new WebSocket(url);
                this.socket.onmessage = (event) => {
                    this.receiveMessage(event.data);
                };
                // 如果错误
                this.socket.onerror = (event) => {
                    this.$message.error('连接失败');
                };
                this.socket.onclose = (event) => {
                    this.$message.error('连接关闭');
                    this.socket = null;
                };
                setTimeout(() => {
                    if (this.socket !== null) {
                        this.$message.success('连接成功');
                    }
                }, 1000);
                this.loginVisible = false;
                this.connectTime = new Date().toLocaleString();
                this.heartLoop();
                this.saveCookie()
            },
            generateToken: function () {
                let encrypt = function encrypt(word, iv, key) {
                    const srcs = CryptoJS.enc.Utf8.parse(word);
                    const encrypted = CryptoJS.AES.encrypt(srcs, key, {
                        iv: iv,
                        mode: CryptoJS.mode.CBC,
                        padding: CryptoJS.pad.Pkcs7,
                    });
                    return encrypted;
                }
                let token = this.loginInfo.pid + "@" + this.loginInfo.uid + "@" + "0";
                const keyStr = "1234567890123456"; // 16字节密钥
                const key = CryptoJS.enc.Utf8.parse(keyStr);
                const iv_key = "I Love Go Frame!";
                // 转成iv 向量
                const iv = CryptoJS.enc.Utf8.parse(iv_key);
                // AES 加密 CBC Pkcs7
                const encrypted = encrypt(token, iv, key);
                // 将加密结果转换为Base64字符串
                let base64 = encrypted.ciphertext.toString(CryptoJS.enc.Base64);
                // 将Base64字符串转换为Base64URL字符串,并且去掉末尾的=
                var base64url = base64.replace(/\+/g, '-').replace(/\//g, '_').replace(/=+$/, '');
                return base64url;
            },
            sendMessage: function (msg) {
                console.log("send message", msg);
                let msgString = JSON.stringify(msg);
                this.socket.send(msgString);
            },
            receiveMessage: function (data) {
                console.log("receive message", data);
            },
            subMarket() {
                if (this.market.symbols === "") {
                    this.$message.error('请输入交易对');
                    return;
                }
                let msg = {
                    // type: "request", // 可以省略
                    affair_id: this.randomVal(), // 业务服务端原样返回
                    ack_id: this.randomVal(), // ws集群原样返回
                    payload: {
                        operation: "subscribe",
                        type: "market",
                        body: {
                            content: {
                                symbols: this.market.symbols.split(",")
                            }
                        }
                    },

                }
                this.sendMessage(msg);
            },
            subKline() {
                if (this.kline.symbol === "") {
                    this.$message.error('请输入交易对');
                    return;
                }
                // 订阅k线前，必须要获取历史k线数据,当后端获取到历史k线数据后，才会推送实时k线数据
                let msg = {
                    // type: "request", // 可以省略
                    affair_id: this.randomVal(), // 业务服务端原样返回
                    ack_id: this.randomVal(), // ws集群原样返回
                    payload: {
                        operation: "subscribe",
                        type: "kline",
                        body: {
                            content: {
                                symbol: this.kline.symbol,
                                period: this.kline.period
                            }
                        }
                    },

                }
                this.sendMessage(msg);
            },
            // 如果消息频繁，则不需要心跳
            heartLoop: function () {
                return
                setInterval(() => {
                    let msg = {
                        type: "heart",
                        ack_id: this.randomVal(), // 随机字符串
                        payload: {
                            ping: new Date().toLocaleString()
                        }

                    }
                    this.sendMessage(msg);
                }, 1000);
            },
            randomVal: function () {
                return Math.random().toString(36).substr(2);
            },
            saveCookie: function () {
                console.log("loginInfo save to cookie", this.loginInfo);
                document.cookie = "loginInfo=" + JSON.stringify(this.loginInfo);
            },
        },

        beforeDestroy: function () {
            this.socket.close();
        }
    });
</script>
</body>
</html>
